<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>processAddWorkerComplements</servlet-name>
        <servlet-class>camans.controller.processAddWorkerComplement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processGetSelectedJobOrProblem</servlet-name>
        <servlet-class>camans.controller.processGetSelectedJobOrProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processAddJobComplement</servlet-name>
        <servlet-class>camans.controller.processAddJobComplement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processEditJobComplement</servlet-name>
        <servlet-class>camans.controller.processEditJobComplement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processAddProblemComplement</servlet-name>
        <servlet-class>camans.controller.processAddProblemComplement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processGenerateTWC2Fin</servlet-name>
        <servlet-class>camans.controller.processGenerateTWC2Fin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processEditProblemComplement</servlet-name>
        <servlet-class>camans.controller.processEditProblemComplement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processSearchWorker</servlet-name>
        <servlet-class>camans.controller.processSearchWorker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processAddBenefit</servlet-name>
        <servlet-class>camans.controller.processAddBenefit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processUser</servlet-name>
        <servlet-class>camans.controller.processUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processEditStubs</servlet-name>
        <servlet-class>camans.controller.processEditStubs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processValidate</servlet-name>
        <servlet-class>camans.controller.processValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processAssignCase</servlet-name>
        <servlet-class>camans.controller.processAssignCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processFile</servlet-name>
        <servlet-class>camans.controller.processFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processReferCase</servlet-name>
        <servlet-class>camans.controller.processReferCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processSearchAuditLog</servlet-name>
        <servlet-class>camans.controller.processSearchAuditLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processGenerateReport</servlet-name>
        <servlet-class>camans.controller.processGenerateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processExport</servlet-name>
        <servlet-class>camans.controller.processExport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processDeleteStub</servlet-name>
        <servlet-class>camans.controller.processDeleteStub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>processAddWorkerComplements</servlet-name>
        <url-pattern>/addWorkerComplement.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processGetSelectedJobOrProblem</servlet-name>
        <url-pattern>/changeToSelected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processAddJobComplement</servlet-name>
        <url-pattern>/addJobComplement.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processEditJobComplement</servlet-name>
        <url-pattern>/editJobComplement.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processAddProblemComplement</servlet-name>
        <url-pattern>/addProblemComplement.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processEditProblemComplement</servlet-name>
        <url-pattern>/editProblemComplement.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processUser</servlet-name>
        <url-pattern>/processUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processEditStubs</servlet-name>
        <url-pattern>/editStubs.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processSearchWorker</servlet-name>
        <url-pattern>/searchWorker.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processGenerateTWC2Fin</servlet-name>
        <url-pattern>/generateTWC2Fin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processAddBenefit</servlet-name>
        <url-pattern>/addBenefit.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processValidate</servlet-name>
        <url-pattern>/processValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processAssignCase</servlet-name>
        <url-pattern>/assignCase.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processFile</servlet-name>
        <url-pattern>/fileUpload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processReferCase</servlet-name>
        <url-pattern>/referCase.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processSearchAuditLog</servlet-name>
        <url-pattern>/searchAuditLog.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processGenerateReport</servlet-name>
        <url-pattern>/generateReport.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processExport</servlet-name>
        <url-pattern>/exportData.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processDeleteStub</servlet-name>
        <url-pattern>/deleteStub.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
