root { 
    display: block;
}

/*badge */
.badge{
    background: white;
    color: #006c9a;
}

/*headers*/
.color-header{
    background: #3289ae;
    color: white;
    padding: 1% 0;
    font-weight: bold;
    font-size: medium;
}

/*general for tables*/
.tbl_lbl{
    font-weight: bold;
    width: 45%;
}
/*general css*/


body{
    background-color: white;
    font-size:small;
}

.main_div{
    background-color: white;
    margin: 4% 3% 0 3%;
}

.tab-content{
    padding-top: 2%;
}

h1, h2, h3, h4, h5, h6{
    color: #006c9a ;
    font-weight: bolder;
}
.col-md-10{
    width:80%;
}

.col-md-2{
    width: 17vw;
}
/*buttons*/
.btn-blue{
    background: #0078AB;
    color: white;
    border: 0;
    text-align: center;
    border-bottom: 2px solid #2475ab;
    -webkit-box-shadow: inset 0 -2px #2475ab;
    box-shadow: inset 0 -2px #2475ab;
    border-radius: 2px;
}

.btn-lightblue{
    background: #7fb5cc;
    border-radius: 2px;
    border: none;
}
.btn :focus{
    border: transparent;
}

.btn-blue:active,.btn-blue:sidehover, .btn-blue:focus, .btn-blue:hover {
    background: #006C9A;
    color: white;
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.cancel_btn{
    background: silver;
    border-radius: 2px;
}

.btn-disabled{
    background: #ccc;
    border-radius:2px;
}

label{
    color: #444;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border:0;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #2d6ca2;
    background-position: 0 -15px;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus {
    background-color: #2aabd2;
    background-position: 0 -15px;
}


/*end of buttons*/

/*form control*/
.form-control{
    border-radius: 3px;
}
/*end of form control*/
.border_box{
    border: 3px solid #3061A3;
    border-radius: 4px;
    background-color: white;
}

/*end of general css*/


/*Log In form*/
#login_form{
    padding: 20px;
    vertical-align: central;
}

#login_form img{
    width: 70%;
}
/*End of log in form*/

/*nav bar*/
.navbar img{
    height: 50px;
}

.navbar-brand{
    padding-top: 0;
}

.navbar .navbar-right .dropdown-toggle{
    padding-top: 1px;
    padding-bottom: 1px;
}

#nav_maintabs{
    margin: auto;
    alignment-adjust: central;
}
/*end of nav bar*/

/*general content box*/
#content{
    padding: 1% 1% 1% 0%;
}

.sub_div_w_bg{
    background-color: #ECECEC ;
    padding: 10px;
}

#filter_form{
    padding: 20px 20px 0 20px;

}

#filter_form .btn{
    width: 10%;

}

.sub_content{
    padding: 10px 20px;
}

#schwker_box .form{
    padding : 0px 20px;
}

#schwker_box .btn{
    width: 40%;
}

/**#worker_search_result_div{
    padding: 0 20px;
    margin-left: 2%;
}**/

/*customized for create worker*/
.required_input{
    color: red;
}

#createworker_form #worker_profile, #job_profile, #prob_profile, #face_pic{
    min-height: 580px;
    position: relative;
}

#createworker_form .control-label label{
    /*text-align: left*/
    padding:0; 
}

.btn-div{
    position: absolute;

    bottom:   0;
    margin-bottom: 0;
}
/*end of customized for create worker*/

/*customized for view worker*/
/* Let's get this party started 
::-webkit-scrollbar {
    width: 7px;
}

/* Track 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgray; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: lightgray; 
}
*/
.table-condensed{
    margin-bottom: 2%;
}


.worker_profile_header{
    background-color: white;
    color: #197aa4;
    font-weight: bolder;
    border: solid white;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: 2px solid #197aa4;
    border-top: 2px solid #197aa4;
}

.worker_profile_header .glyphicon{
    color: #197aa4;
}

#view_worker_box h3, h4{
    color: white
}
body,html,.row-offcanvas {
    height:100%;
}

body {
    padding-top: 50px;
    overflow-x: hidden;
}

#sidebar {
    width: 35%;
    float: left;
    position:fixed;
    overflow-y:hidden;
    overflow-x:hidden;
}
#worker_profile_div{
    float: left;
    height: 170%;
    width:17vw;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
    padding-left:1%;
    padding-right: 0%;
    font-weight: bold;
}



#main {
    /*height:100%;*/
    overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width:calc(100% + 220px);
    }

    .row-offcanvas-left
    {
        left: -220px;
    }

    .row-offcanvas-left.active {
        left: 0;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}
.worker_profile_content{
    padding: 3%; 
}

.worker_profile_content p{
    margin: 0 0 3%;
    min-height: 1%;
}

/*create worker progress bar*/
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
    width: 32%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 8px solid #6697AE;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 8px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #004b6b;
    height: 2.4em;
    width: 2.4em;
    line-height: 2.4em;
    border: none;
    border-radius: 2.4em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 3.0em;
    bottom: -0.6em;


}

/*end of customized for create worker*/


/*view worker sub nav*/
#sub_nav_tabs > li.active > a,#sub_nav_tabs .nav-tabs > li.active > a:hover,#sub_nav_tabs .nav-tabs > li.active > a:focus{
    color: white;
    font-weight: bolder;
    background: #197aa4 ;
    border-bottom: 2px solid #004C6C;
    border-right: 2px solid #004C6C;

}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #4c98b8 !important;
    border-color: #4c98b8 !important;
}

#sub_nav_tabs{
    border-bottom: 1.5px solid #006C9A;
}

#sub_nav_tabs a{
    color: #006C9A;
    font-weight: bold;
}
/*end of view worker sub nav*/

/*panels*/
.panel-default>.panel-heading{
    background: #66a6c2;
    color:#002E41;
}

.panel{
    border-radius: 0;
}

.panel-heading{
    border-radius: 0;
    padding: 5px 15px;
}

.panel-group .panel{
    border-radius:0;
}


/*table curve*/
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}
/* end table curve*/

/**complement details**/
#complement_details_div{
    width:65%; 
    padding: 1% 0% 2%;
    margin-top:10vh;
}

.complement_detailed_form{
    height: 100%;
}

.nav_span{
    height: 6%;
    display:block;
}
#breadcrumb_div{
    position:fixed; 
    top: 6%; 
    padding: 2% 0;
    background-color: white;
    width: 100%;
}

#complement_header_tab{
    position: fixed; 
    top: 14%; 
    padding: 1% 0% 2%;  
    width:70%;
    background-color:white;
}

.seemore_btn,.seemore_btn:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/**navbar**/
.side-menu .navbar{
    border-radius: 0;
    background: #fcfcfc;
    border-right: 4px solid #ddd;
}

.side-menu .navbar ul li a{
    border-radius: 0;
    /*color: #AF4454;*/
    font-weight: bold;
    /*font-size: large;*/
}

#side-menu{
    height: 99vh;
}

.side-menu .navbar ul li{
    width: 100%;
    border-bottom: 1px solid #99c4d6;
}

#side-menu .nav-tabs > li > a:hover, #side-menu .nav-tabs > li > a:focus{
    background: #4c98b8 ;
    color: white;
    border: none;
    margin: 0;
}

#side-menu .nav-tabs > li > a:active{
    background: #197aa4 ;
    color: white;
    border-bottom: 2px solid #004C6C;
    border-right: 5px solid #004C6C;
}

.side-menu .nav-tabs{
    border: none;
}

input[readonly] {
    cursor: text;
}

input[readonly]:hover{
    cursor: text;
}
/*page header*/
.page-header{
    margin-top: 0%;
}

#pageloading {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}

#loading-image {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 100;
}