root { 
    display: block;
}
/*general css*/


body{
    background-color: white;
    font-size:small;
}

.main_div{
    background-color: white;
    margin: 4% 3% 0 3%;
}

h1, h2, h3, h4, h5, h6{
    color: #1F3A93 ;
    font-weight: bolder;
}
.col-md-10{
    width:80%;
}

.col-md-2{
    width: 17vw;
}
/*buttons*/
.btn-blue{
    background: #3061A3;
    color: white;
    border: 0;
    text-align: center;
    border-bottom: 2pm solid #2475ab;
    -webkit-box-shadow: inset 0 -2px #2475ab;
    box-shadow: inset 0 -2px #2475ab;
    border-radius: 2px;
}

.btn-blue:active,.btn-blue:hover, .btn-blue:focus {
    background: #3061A3;
    color: white;
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-disabled{
    background: #ccc;
    border-radius:2px;
}
label{
    text-transform: capitalize;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border:0;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2d6ca2;
  background-position: 0 -15px;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}


/*end of buttons*/

/*form control*/
.form-control{
    border-radius: 3px;
}
/*end of form control*/
.border_box{
    border: 3px solid #3061A3;
    border-radius: 4px;
    background-color: white;
}

/*end of general css*/


/*Log In form*/
#login_form{
    padding: 20px;
    vertical-align: central;
}

#login_form img{
    width: 70%;
}
/*End of log in form*/

/*nav bar*/
.navbar img{
    height: 50px;
}

.navbar-brand{
    padding-top: 0;
}

.navbar .navbar-right .dropdown-toggle{
    padding-top: 1px;
    padding-bottom: 1px;
}

#nav_maintabs{
    margin: auto;
    alignment-adjust: central;
}
/*end of nav bar*/

/*general content box*/
#content{
    padding: 1% 1% 1% 0%;
}

.sub_div_w_bg{
    background-color: #ECECEC ;
    padding: 10px;
}

#filter_form{
    padding: 20px 20px 0 20px;

}



#filter_form .btn{
    width: 10%;

}

.sub_content{
    padding: 10px 20px;
}

#schwker_box .form{
    padding : 0px 20px;
}

#schwker_box .btn{
    width: 40%;
}

/**#worker_search_result_div{
    padding: 0 20px;
    margin-left: 2%;
}**/

/*customized for create worker*/
.required_input{
    color: red;
}

#createworker_form #worker_profile, #job_profile, #prob_profile, #face_pic{
    min-height: 580px;
    position: relative;
}

#createworker_form .control-label label{
    /*text-align: left*/
    padding:0; 
}

.btn-div{
    position: absolute;

    bottom:   0;
    margin-bottom: 0;
}
/*end of customized for create worker*/

/*customized for view worker*/
/* Let's get this party started 
::-webkit-scrollbar {
    width: 7px;
}

/* Track 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgray; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: lightgray; 
}
*/
.table-condensed{
    margin-bottom: 2%;
}


.worker_profile_header{
    background-color: #3061A3;
    color: white;
    font-weight: bold;
    border: solid #3061A3;
    margin-bottom: 2%;
}

#view_worker_box h3, h4{
    color: white
}
body,html,.row-offcanvas {
    height:100%;
}

body {
    padding-top: 50px;
    overflow-x: hidden;
}

#sidebar {
    width: 35%;
    float: left;
    position:fixed;
    overflow-y:hidden;
    overflow-x:hidden;
}
#worker_profile_div{
    float: left;
    height: 170%;
    width:17vw;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
    padding-left:1%;
    padding-right: 0%;
    font-weight: bold;
}



#main {
    /*height:100%;*/
    overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width:calc(100% + 220px);
    }

    .row-offcanvas-left
    {
        left: -220px;
    }

    .row-offcanvas-left.active {
        left: 0;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}
.worker_profile_content{
    padding: 3%; 
}

.worker_profile_content p{
    margin: 0 0 3%;
    min-height: 1%;
}

/*create worker progress bar*/
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
    width: 32%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 8px solid #87B821;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 8px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #87B821;
    height: 2.4em;
    width: 2.4em;
    line-height: 2.4em;
    border: none;
    border-radius: 2.4em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 3.0em;
    bottom: -0.6em;


}

/*end of customized for create worker*/

.btn_group button{
    margin: 5px;
    padding: 10px;
}
/*view worker sub nav*/
#sub_nav_tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: white;
    font-weight: bolder;
    background: #3061A3 ;
    border-bottom: 3px solid #3061A3;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

#sub_nav_tabs{
    border-bottom: 1.5px solid #3061A3;
}

#sub_nav_tabs a{
    color: #3061A3;
    font-weight: bold;
}
/*end of view worker sub nav*/

/*panels*/
.panel-default>.panel-heading{
    background: #B4C6DE;
    
}

.panel{
    border-radius: 0;
}

.panel-heading{
    border-radius: 0;
    padding: 5px 15px;
}

.panel-group .panel{
    border-radius:0;
}

.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#faf2cc));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
  background-repeat: repeat-x;
}
/**/

/*table curve*/
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}
/* end table curve*/

.ui-dialog{
    top: 10%;
}


/**complement details**/
#complement_details_div{
    width:65%; 
    padding: 0% 0% 2%;
    margin-top:6%;
}

.complement_detailed_form{
    height: 100%;
}

.nav_span{
    height: 6%;
    display:block;
}
#breadcrumb_div{
    position:fixed; 
    top: 6%; 
    padding: 2% 0;
    background-color: white;
    width: 100%;
}

#complement_header_tab{
    position: fixed; 
    top: 14%; 
    padding: 1% 0% 2%;  
    width:70%;
    background-color:white;
}

.seemore_btn,.seemore_btn:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.accordion_panel panel-heading{
    background-color: #b7b4de;
}



/**navbar**/
.navbar{
    border-radius: 0;
    border-right: 1px solid #e7e7e7;
}

.side-menu .navbar ul li a{
    border-radius: 0;
    /*color: #AF4454;*/
    font-weight: bold;
    /*font-size: large;*/
}

#side-menu{
    height: 88vh;
}

.side-menu .navbar ul li{
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .nav-tabs{
    border: none;
}

input[readonly] {
     cursor: text;
}

input[readonly]:hover{
     cursor: text;
}
/*page header*/
.page-header{
    margin-top: 0%;
}
